@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --light-green: rgb(224, 251, 224);
  --dark-green: rgb(0, 126, 0);
  --semi-gray: rgb(192, 192, 192, 0.2);
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard-body{
  width: 100vw;
  padding-right: 4rem;
  height: 94.5vh;
  overflow-y: auto;
}

.background-color {
  background-color: var(--light-green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.dashboard-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3.5vh;
  color: white;
  background-color: var(--dark-green);
  height: 5.5vh;
}

.dashboard-container{
  margin: 2rem 0 0 1rem;
}

.horiz-overflow-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 2rem;
}

.add-portfolio-button {
  margin-left: 2rem;
  cursor: pointer;
}

.add-portfolio-button:hover {
  font-weight: bold;
  font-size: 140%;
}


.add-config-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.add-config-button:hover {
  font-weight: bold;
  font-size: 110%;
}


.portfolio-tile {
  display: inline-block;
  vertical-align: top;
  border-radius: 0.25rem;
  width: 500px;
  margin: 5px 5px 0px 0px;
  padding: 3px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-tile table {
  margin: 0;
}

.portfolio-tile tbody {
  border: none;
}

.portfolio-tile tr:nth-child(even) {
  background-color: transparent;
}

.portfolio-tile td {
  padding: 0;  
}

.portfolio-tile p,
.portfolio-tile span {
    margin: 0;
}

.portfolio-name {
  font-size: 110%;
  font-weight: bold;
}

.more-button {
  cursor: pointer;
  border-radius: 0.25rem;
}

.more-button:hover {
  font-weight: bold;
}

.config-summary-tile {
  margin: 10px 5px 20px 5px;
  border-radius: 0.25rem;
  font-size: 90%;
  padding: 3px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.config-summary-tile table {
  width: 100%;
  table-layout: fixed;
  white-space: normal;
}

.config-summary-tile tbody {
  background-color: transparent;
}

.wide-config-col {
  width: 75%;
}

.narrow-config-col {
  width: 25%;
}

.wide-scen-col {
  width: 65%;
}

.narrow-scen-col {
  width: 35%;
}


.config-header {
  text-decoration: underline;
}

.scenario-tile {
  display: inline-block;
  border-radius: 0.25rem;
  width: 200px;
  margin: 5px 5px 0px 0px;
  padding: 3px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 90%;
}

.scenario-tile table {
  width: 100%;
  table-layout: fixed;
  white-space: normal;
  margin: 0;
}

.scenario-tile tbody {
  background-color: transparent;
  border: none;
}

.scenario-tile tr:nth-child(even) {
  background-color: transparent;
}

.scenario-tile td {
  padding: 0;
}


.button-show-scenarios {
  @extend .button;
  padding: 0.25rem;
  background-color: var(--dark-green);
  font-weight: bold;
  border-radius: 0.25rem;
}
  
.button-show-scenarios-hide {
  @extend .button-show-scenarios;
  border: 1px black solid;
  background-color: yellow;
  color: black;
}

.button-show-scenarios:hover {
  background-color: rgb(0, 80, 0);
}

.button-show-projection {
  @extend .button;
  padding: 0.25rem;
  background-color: var(--dark-green);
  font-weight: bold;
  border-radius: 0.25rem;
}

.button-show-projection:hover {
  background-color: rgb(0, 80, 0);
}

.button-show-projection-hide {
  @extend .button-show-projection;
  border: 1px black solid;
  background-color: yellow;
  color: black;
}

.projection-container{
  max-height: 25rem;
  overflow-y: auto;
}

.projection-table {
  font-size: 80%;
}

.projection-table tr:nth-child(even) {
  background-color: transparent;
}

.projection-table th, .projection-table td {
  padding: 0.5px 2px;
  border: 1px solid #ddd;
}

.new-portfolio-form {
  z-index: 3;
  position: fixed;
  height: 85vh;
  width: 90vw;
  background-color: var(--light-green);
  border-radius: 0.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 7.5vh;
  align-self: center;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 2rem 1rem 1rem 1rem;
  overflow-y: auto;
}

.new-portfolio-form label {
  margin-top: 1rem;
}

.gray-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.form-button {
  @extend .button;
  background-color: var(--dark-green);
  padding: 0.25rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  display: inline;
  margin-right: 2rem;
}

.form-button:hover {
  background-color: rgb(0, 80, 0);
}

.form-button-container {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-container {
  text-align: center;
  display: inline;
}

.slider-container label {
  display: inline;
  margin-left: 0.25rem;
}

.slider-container input {
  width: 14%;
}

.form-error {
  padding: 0.1rem;
  padding-left: 0.25rem;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 100%;
}

.button-run-config {
  @extend .button-show-scenarios;
}

.button-run-config:hover {
  background-color: rgb(0, 80, 0);
}